<div class="profile-page">
    <div class="profile-page__back">
        {{{buttonBack}}}
    </div>
    <div class="profile-page__main">
        <header class="profile-page__header">
            <div class="avatar"></div>
            <label class="name">Иван</label>
        </header>
        {{#if edit}}
            {{{editForm}}}
        {{else}}
            {{{profileData}}}
        {{/if}}
        {{{footer}}}
    </div>
</div>
