<div class="menu">
    {{{addChat}}}
    {{#if selectedChat}}
        {{{addUser}}}
        {{{removeUser}}}
        {{{removeChat}}}
    {{/if}}
    {{#if activeModal}}
        {{{modal}}}
    {{/if}}
</div>
