<main class="profile-page">
    <div class="profile-page__back">
        {{{buttonBack}}}
    </div>
    <div class="profile-page__main">
        {{{header}}}
        {{#if isLoading}}
            {{{loader}}}
        {{else}}
            {{#if editData}}
                {{{editFormData}}}
            {{else if editPassword}}
                {{{editFormPassword}}}
            {{else}}
                {{{profileData}}}
                {{{footer}}}
            {{/if}}
        {{/if}}
    </div>
</main>
